# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Test / Coverage
.pytest_cache/
.coverage
htmlcov/
.tox/

# Build artifacts (DO NOT COMMIT)
*.egg-info/
*.egg
dist/
build/
wheels/

# Virtual environments
.venv/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp

# Environment variables
.env
.env.local